<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" >
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr />

    <!-- <div class="mb-3">
        <label style="margin-right:10px">My sex is:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="sex"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="sex"> Female
        </label>
    </div> -->
    
    <app-text-input [formControl]="$any(registerForm.controls['username'])" [lable]="'Username'"></app-text-input>

    <div class="mb-3 input-group">
            <span class="input-group-text">Gender</span>
            <select name="gender" id="gender" class="form-control form-check-label " formControlName="gender">  
                <option *ngFor="let val of genders.genderlist" 
                    [ngValue]="val.value">{{val.text}}
                </option>
            </select>
    </div>    
  
    <app-date-picker [maxDate]="maxDate"    [formControl]="$any(registerForm.controls['dateOfBirth'])" [lable]="'date of birth'"></app-date-picker>


    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [lable]="'known as'"></app-text-input>
    
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [lable]="'city'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['country'])" [lable]="'country'"></app-text-input>
  
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [lable]="'password'" [type]="'password'"></app-text-input>
    
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [lable]="'confirm password'" [type]="'password'"></app-text-input>
   
    <div class="row" *ngIf="validationErrors">
       <ul class="text-danger"> 
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul> 
    </div>
    <div class="text-center">
        <button  class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    </form>
    
    <p>{{this.registerForm.valid | json}}</p>
    <p>{{this.registerForm.value | json}}</p>
